
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright test results
test-results/
playwright-report/
*.zip
allure-report/
allure-results/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

